<p id="notice"><%= notice %></p>

<h1>Maps</h1>

<div>
  <p>
  <%= form_tag maps_path, method: 'get' do %>
  <%= text_field_tag :search, params[:search] %> 
  <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
</div>

<table class="primary">
  <thead>
    <tr>
      <b><%= @maps == [] ? 'No maps found' : 'Maps' %></b>
    </tr>
  </thead>
	<tbody>
    <% @maps.each do |map| %>
		<tr class="maprow">
			<td class="maprow">
				<table class="innert">
					<tbody>
						<tr>
							<td>
								
      <%= map.name %>

							</td>
						</tr>
						<tr>
							<td>
								          <%= link_to 'Show', map %>
          <%= link_to 'Edit', edit_map_path(map) %>
          <%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td class="maprow">
				<%= image_tag map.preview.image.variant(resize_to_limit: [400, 400]) %>
			</td>
    </tr>
  <% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Map', new_map_path %>
