<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @map.file.filename %>
  <p>
  <%= @map.preview.inspect %>
  </p>
  <%= image_tag @map.preview.image.variant(resize_to_limit: [600, 600]) if @map.preview.done? %>
  <p>
  <strong>size:</strong>
  <%= "#{@map.file.byte_size} bytes" %>
  </p>
  <p><strong>Tags</strong>
  <% @map.tags.each do |tag| %>
    <div><%= link_to("#{tag.name}", controller: "maps", search: "#{tag.name}") %></div>
  <% end %>
  </p>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %> |
<%= link_to 'Destroy', @map, method: :delete, data: { confirm: 'Are you sure?' } %>
